.ad-home{
    position: relative;
}
.ad-home section{
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    background-color: #fbfa92;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    padding: 2vw;
    border-radius: 7px;
}
.ad-home div{
    position: relative;

}
.ad-home div img{
    max-height: 50vh;
    min-height: 350px;
    object-fit: cover;
}
.ad-home section h1{
    margin: 0;
    font-weight: 400;
    font-size: 35px;
}
.ad-home section h4{
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
}
button{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 1vw;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
}
button:hover{
    background-color: #ffa41c;
    color: black;
}

.body-h{
    padding: 0 3vw;
    text-align: left;
}


.icon-containor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;

}
.icon-card{
    border: solid 1px #ffa41c;
    border-radius: 5px;;
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.icon-card:hover{
    background-color: #ffa41c;
}
.icon-card:hover hr {
    border-color: rgb(248, 248, 248);
}
.icon-card:hover p {
    color: rgb(248, 248, 248);
}
.icon-card:hover .icon-perk {
    color: rgb(248, 248, 248);
}
.icon-card hr{
    width: 100%;
    border: 2px solid #ffa41c;
}
.icon-card p{
    font-size: 20px;
    color:#917a58;
    margin: 0;
    text-align: center;
}
.icon-perk{
    font-size: 100px;
    color:#ffa41c;
}
